{
  "openapi": "3.0.3",
  "info": {
    "title": "Platform API",
    "description": "# Overview\nThe Platform API allows you to manage Profiles and their data in your Quiltt Environment, and\nis only appropriate for server-to-server use.\n\n# API Host\n<pre><code>https://api.quiltt.io</code></pre>\n\nAll Platform API requests must be made to the core API server.\n\n# Authentication\n<pre><code>Authorization: Bearer {API_KEY_SECRET}</code></pre>\n\nAll Platform API endpoints require a valid API Key secret to be passed in as a bearer\ntoken in the Authorization header.\n\nYou can access your API Keys in the\n[Quiltt Dashboard](https://dashboard.quiltt.dev/api-keys).\n\n# Errors\nUnsuccessful requests to this API will return a JSON object to help troubleshoot what went wrong.\n\n### StandardError\nA generic error with troubleshooting instructions.\n\nReturned with all `4xx` or `5xx` HTTP status codes, except `422` errors on some REST endpoints.\n<SchemaDefinition schemaRef=\"#/components/schemas/RestError\" />\n\n### ValidationErrors\nOne or more correctable errors encountered when attempting to create or update a record.\n\nReturned with a `422` HTTP status code.\n<SchemaDefinition schemaRef=\"#/components/schemas/ValidationErrors\" />\n",
    "version": "2025-04-01"
  },
  "servers": [
    {
      "description": "Platform API server",
      "url": "https://api.quiltt.io"
    }
  ],
  "paths": {
    "/v1/accounts/{accountId}/ach_numbers": {
      "get": {
        "summary": "Retrieve ACH Numbers",
        "tags": [
          "Account Numbers"
        ],
        "description": "Retrieves ACH routing and account numbers associated with a connected account.\n\nThese numbers can be sent to a payment processor to enable direct deposits and withdrawals\nfrom the account.\n\nPlease note that for the numbers be available, the account holder must have verified the account\nthrough a Connector enabled with the Account Verification product. To be notified when the numbers\nare available, subscribe to the `account.verified` webhook event.\n",
        "security": [
          {
            "APISecretBearerAuth": [],
            "ProcessorTokenBasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Account.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Account ID",
              "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "example": {
                  "accountId": "acct_16FvuCM1Pg8NzjwuN9qndzm",
                  "number": "30930901",
                  "routing": "021000010"
                },
                "schema": {
                  "$ref": "#/components/schemas/ACHNumbers"
                }
              }
            }
          },
          "400": {
            "description": "Unsupported Account kind",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Unsupported account kind: LOAN. Try a DEPOSITORY account."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Connection needs to be reconnected",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Connection is not enabled with the `ACCOUNT_NUMBERS` product."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a verified Account?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/balances/refresh": {
      "post": {
        "summary": "Trigger a Balance Refresh",
        "tags": [
          "Balances"
        ],
        "description": "Triggers a Balance Refresh for a given Account.\n\nSucessful requests trigger a balance refresh from the Connection provider and return a `202 Accepted` response.\n\nAs soon as Quiltt obtains the latest balance, you will receive the `balance.created` webhook. The\nnew Balance record will have the `REFRESH` source and be available in GraphQL.\n",
        "security": [
          {
            "APISecretBearerAuth": [],
            "ProcessorTokenBasicAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Account.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Account ID",
              "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Successful request"
          },
          "403": {
            "description": "Connection disconnected or in an error state",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Account does not belong to an active Connection."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a connected Account?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "429": {
            "description": "Provider rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "message": "Too Many Requests",
                  "instruction": "The Connection provider's rate limit has been exceeded. Please try again later."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{profileId}/connections/{connectionId}/export": {
      "get": {
        "summary": "Export Connection Details",
        "tags": [
          "Connections"
        ],
        "description": "Exports the Connection details needed to make direct API calls to the underlying provider.\n\nContact Quiltt Support to enable this feature.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Profile.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Profile ID",
              "example": "p_1hyoxpVVFib1HngGwKAzIr"
            },
            "required": true
          },
          {
            "name": "connectionId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Connection.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Connection ID",
              "example": "conn_14TJiFDKRJlPiBHuukUIlXZ"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "conn_12xjHzSngHp5gmxtb8LgpR",
                  "provider": "MX",
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "apiKey": [
                    "USR-fa7537f3-48aa-a683-a02a-b18940482f54",
                    "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ConnectionExport"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid API Key secret in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Contact Quiltt Support to enable this feature."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Connection not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of an active Connection belonging to this Profile?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{profileId}/connections/import/plaid": {
      "post": {
        "summary": "Import from Plaid",
        "tags": [
          "Connections"
        ],
        "description": "Imports a Connection from an existing Plaid record.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Profile.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Profile ID",
              "example": "p_1hyoxpVVFib1HngGwKAzIr"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successfully imported",
            "content": {
              "application/json": {
                "example": {
                  "id": "conn_12xjHzSngHp5gmxtb8LgpR",
                  "provider": "PLAID",
                  "features": [
                    "ACCOUNT_BALANCE_REFRESHES",
                    "ACCOUNT_BALANCES_AND_TRANSACTIONS"
                  ],
                  "products": [
                    "ACCOUNT_BALANCE_REFRESHES",
                    "ACCOUNT_BALANCES_AND_TRANSACTIONS"
                  ],
                  "status": "INITIALIZING",
                  "metadata": null,
                  "createdAt": "2024-08-26T02:04:37Z",
                  "updatedAt": "2024-08-26T02:04:37Z",
                  "at": "2024-08-26T02:04:37Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Unable to import errored Connection",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Cannot import Plaid Item in an error state"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Integration not enabled",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Is the Plaid integration enabled in this environment?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Profile not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does Profile with ID `not-found` exist in this Environment?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "409": {
            "description": "Connection already exists",
            "content": {
              "application/json": {
                "example": {
                  "message": "Conflict",
                  "instruction": "Connection with this `accessToken` already exists."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Options to import a Connection from Plaid.",
                "title": "ConnectionImportPlaidRequest",
                "required": [
                  "accessToken"
                ],
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "description": "The token to import from Plaid.",
                    "example": "access-sandbox-560d5d7e-b4c4-4b13-8e39-1cb9370051d3"
                  },
                  "externallyManaged": {
                    "type": "boolean",
                    "description": "Specifies whether this Connection is managed by an external system.\n\nWhen a Connection is imported as externally-managed, Quiltt will sync it,\nbut disconnecting it will not revoke access from the upstream provider.",
                    "example": true,
                    "default": false
                  },
                  "migrateWebhook": {
                    "type": "boolean",
                    "description": "Whether to migrate the webhook registered with Plaid to be consumed by Quiltt.\n\nWhen set to `false`, Quiltt will preserve the existing webhook\nregistered with Plaid and the Connection will sync less frequently.",
                    "example": false,
                    "default": true
                  },
                  "products": {
                    "type": "array",
                    "description": "The authorized Plaid products to sync on the Connection.\n\nThese products will be added to the products Quiltt can detect automatically. Note that\n`balance`, `investments` and `liabilities` are always detected automatically.",
                    "items": {
                      "type": "string",
                      "description": "Represents a product of a Connection.\n\n`ACCOUNT_BALANCE_REFRESHES` - The ability to trigger live refreshes of account balances.\n\n\n`ACCOUNT_BALANCES_AND_TRANSACTIONS` - Access to Account Balances and Transaction with up to 24 months of history, depending on the provider.\n\nNote that MX typically provides 3-4 months of history and accessing 24 months\nof history is a \"premium\" product that incurs a one-time per-Connection fee.\nYou can configure whether Quiltt should attempt to sync full history on the MX\nIntegration page in the Dashboard\n\n\n`ACCOUNT_NUMBERS` - Access to verified account numbers to support money movement operations.\n\nWhen this product is provisioned, eligible accounts will be enabled for the\n[Account Numbers](https://www.quiltt.dev/api-reference/platform#tag/Account-Numbers)\nand [Processor Tokens](https://www.quiltt.dev/api-reference/platform#tag/Processor-Tokens)\nendpoints.\n\n\n`ACCOUNT_OWNERS` - Access to account-holder information to validate identity and account ownership.\n\nWhen this product is provisioned, account-holder information will become available\nvia [Remote Data](https://www.quiltt.dev/api/remote-data).\n\n\n`ACCOUNT_STATEMENTS` - Access to historical account statements in PDF format.\n\n\n`INVESTMENTS` - Access to account investments holdings and transactions.\n\nNote that for some providers like MX, this product may be provisioned automatically.\n\n\n`LIABILITIES` - Access to detailed account liabilities data.\n\nNote that for some providers like MX, this product may be provisioned automatically.\n\n",
                      "enum": [
                        "auth",
                        "identity",
                        "transactions"
                      ]
                    },
                    "example": [
                      "auth",
                      "transactions"
                    ]
                  },
                  "institutionId": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "0": {
                  "summary": "Import a Plaid Item",
                  "value": {
                    "acccesToken": "access-sandbox-560d5d7e-b4c4-4b13-8e39-1cb9370051d3",
                    "externallyManaged": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/institutions": {
      "get": {
        "summary": "Search Institutions by Routing Number",
        "tags": [
          "Institutions"
        ],
        "description": "Retrieves Institutions based on US Fed Routing Numbers.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "routingNumber",
            "description": "The routing number to look up",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": [
                  {
                    "name": "Chase",
                    "logoUrl": "https://cdn.quiltt.io/institutions/inst_15vzU43JrPuWZgSOnCxRa3N/logo.png"
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Institution"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Are you supplying a valid 9-digit Routing number?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{accountId}/processor_tokens": {
      "post": {
        "summary": "Create a Processor Token",
        "tags": [
          "Processor Tokens"
        ],
        "description": "Generates a Processor Token for a given account to pass to a 3rd party payment or data processor.\n\nPlease double check that your preferred Processor is configured to consume the token from the token issuer.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "schema": {
              "type": "string",
              "description": "The ID of the Account.",
              "format": "global_id-v1",
              "readOnly": true,
              "title": "Account ID",
              "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "example": {
                  "token": "processor-sandbox-d7f1b455-9ed2-402a-8fbd-10012bd5466e",
                  "account": {
                    "id": "acct_16FvuCM1Pg8NzjwuN9qndzm",
                    "type": "SPENDING"
                  },
                  "environment": {
                    "id": "env_12zvI6ZO3hPKennfrRy2Ke",
                    "mode": "TEST"
                  },
                  "issuer": "PLAID",
                  "processor": "SILA_MONEY"
                },
                "schema": {
                  "$ref": "#/components/schemas/ProcessorToken"
                }
              }
            }
          },
          "400": {
            "description": "Missing Issuer",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "`issuer` is missing or the value is empty"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "403": {
            "description": "Connection needs to be reconnected",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "Account does not belong to an active Connection."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain the ID of a connected Account?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "Invalid Processor",
            "content": {
              "application/json": {
                "example": {
                  "processor": [
                    "Processor \"BAD_PROCESSOR\" is not supported"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "issuer": {
                    "type": "string",
                    "description": "The issuer of the Processor Token.\n\n`QUILTT` - Quiltt\n\n`MX` - MX\n\n`PLAID` - Plaid\n",
                    "enum": [
                      "QUILTT",
                      "MX",
                      "PLAID"
                    ],
                    "example": "QUILTT"
                  },
                  "processor": {
                    "type": "string",
                    "description": "The processor that will be receiving the Token.",
                    "enum": [
                      "ACHQ",
                      "ADP_ROLL",
                      "ADYEN",
                      "ALLOY",
                      "ALPACA",
                      "ANSA",
                      "APEX_CLEARING",
                      "ASTRA",
                      "ATOMIC",
                      "BAKKT",
                      "BLOOM_CREDIT",
                      "BOND",
                      "BOOM",
                      "BRALE",
                      "CHECK",
                      "CHECKBOOK",
                      "CHECKOUT",
                      "CIRCLE",
                      "DRIVEWEALTH",
                      "DWOLLA",
                      "ESUSU",
                      "FINIX",
                      "FORTRESS_TRUST",
                      "GALILEO",
                      "GEMINI",
                      "GUSTO",
                      "HIGHNOTE",
                      "I2C",
                      "KNOT",
                      "LAYER",
                      "LITHIC",
                      "LOANPRO",
                      "MARQETA",
                      "MOCK",
                      "MODERN_TREASURY",
                      "MOOV",
                      "NUVEI",
                      "OCROLUS",
                      "PAYNOTE",
                      "RISKIFIED",
                      "RIZE",
                      "SARDINE",
                      "SCRIBEUP",
                      "SFOX",
                      "SILA",
                      "SILA_MONEY",
                      "SOLID",
                      "STAKE",
                      "STRADDLE",
                      "STRIPE",
                      "SVB_API",
                      "TABA_PAY",
                      "TEAL",
                      "TREASURY_PRIME",
                      "UNIT",
                      "UTB",
                      "VESTA",
                      "VOPAY",
                      "WEDBUSH",
                      "WEPAY",
                      "WYRE",
                      "ZERO_HASH",
                      "ZUM_RAILS"
                    ],
                    "example": "STRADDLE"
                  }
                }
              },
              "examples": {
                "0": {
                  "summary": "Request a Sila processor token",
                  "value": {
                    "processor": "SILA_MONEY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles": {
      "post": {
        "summary": "Create a Profile",
        "operationId": "createProfile",
        "tags": [
          "Profiles"
        ],
        "description": "Creates a Profile with supplied attributes",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "example": {
                  "id": "p_12VnSaRRxyP12Sl9rLZg8n1",
                  "uuid": "52909e05-e1cb-4e45-b273-2b7b5d1f9bff",
                  "metadata": null,
                  "email": "tardis@example.com",
                  "phone": "+15089883522",
                  "name": "The Doctor",
                  "names": null,
                  "dateOfBirth": "1970-01-01",
                  "address": null,
                  "createdAt": "2024-07-26T02:04:37Z",
                  "updatedAt": "2024-07-26T02:04:37Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "example": {
                  "message": "Forbidden",
                  "instruction": "You have reached the maximum number of Profiles for this Environment. Delete unused Profiles, use another Environment, or contact Quiltt Support."
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "email": [
                    "Email is not a valid email address"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileCreateRequest"
              },
              "examples": {
                "0": {
                  "summary": "Create a Profile",
                  "value": {
                    "email": "tardis@example.com",
                    "name": "The Doctor",
                    "dateOfBirth": "1970-01-01",
                    "phone": "+16358126489"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List all Profiles",
        "operationId": "getProfiles",
        "tags": [
          "Profiles"
        ],
        "description": "Returns a paginated list of all Profiles in your environment",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": "p_111sXqFUjvlL5jQZ8gsf9KI",
                    "uuid": "21da60c9-a6a8-453b-bb0d-54fc4ba57866",
                    "metadata": null,
                    "email": "tardis@example.com",
                    "phone": "+16358126489",
                    "name": "Tardis",
                    "names": null,
                    "dateOfBirth": "1970-01-01",
                    "address": null,
                    "createdAt": "2024-08-26T02:06:41Z",
                    "updatedAt": "2024-08-26T02:06:41Z"
                  },
                  {
                    "id": "p_15PGCp4JWVzjkN5hjCO1vm0",
                    "uuid": "b1abea01-98c1-45e9-9e70-d73d3a35e33c",
                    "metadata": null,
                    "email": "the_doctor@example.com",
                    "phone": "+15089883522",
                    "name": "The Doctor",
                    "names": null,
                    "dateOfBirth": "1980-05-21",
                    "address": null,
                    "createdAt": "2024-07-26T02:04:37Z",
                    "updatedAt": "2024-07-26T02:04:37Z"
                  }
                ],
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Profile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Authenticated",
                  "instruction": "Are you sending a valid API Key secret in the `Authorization` header?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "schema": {
            "oneOf": [
              {
                "type": "string",
                "description": "The ID of the Profile.",
                "format": "global_id-v1",
                "readOnly": true,
                "title": "Profile ID",
                "example": "p_1hyoxpVVFib1HngGwKAzIr"
              },
              {
                "type": "string",
                "description": "The UUID of the Profile.",
                "format": "uuid",
                "readOnly": true,
                "title": "Profile UUID",
                "example": "174ec567-2492-4498-a706-504a79437235"
              }
            ]
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve a Profile",
        "operationId": "getProfileById",
        "tags": [
          "Profiles"
        ],
        "description": "Retrieves a Profile by its ID",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "p_1hyoxpVVFib1HngGwKAzIr",
                  "uuid": "174ec567-2492-4498-a706-504a79437235",
                  "metadata": {
                    "favoriteMode": "plaid"
                  },
                  "email": "elon@example.com",
                  "phone": "+12125550180",
                  "name": "Elon Musk",
                  "names": null,
                  "dateOfBirth": null,
                  "address": null,
                  "createdAt": "2024-09-01T21:41:44Z",
                  "updatedAt": "2024-09-01T21:41:44Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does Profile with ID `bad_id` exist in this Environment?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a Profile",
        "operationId": "updateProfile",
        "tags": [
          "Profiles"
        ],
        "description": "Updates Profile attributes",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": "p_1hyoxpVVFib1HngGwKAzIr",
                  "uuid": "174ec567-2492-4498-a706-504a79437235",
                  "metadata": {
                    "favoriteMode": "ludicrous"
                  },
                  "email": "new_email_who_dis@example.com",
                  "phone": "+12125550180",
                  "name": "Elon Musk",
                  "names": null,
                  "dateOfBirth": null,
                  "address": null,
                  "createdAt": "2024-09-01T21:41:44Z",
                  "updatedAt": "2024-09-07T21:59:01Z"
                },
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "example": {
                  "email": [
                    "Email is not a valid email address"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdateRequest"
              },
              "examples": {
                "0": {
                  "summary": "Update A Profile",
                  "value": {
                    "email": "new_email_who_dis@example.com",
                    "metadata": {
                      "favoriteMode": "ludicrous"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a Profile",
        "operationId": "deleteProfile",
        "tags": [
          "Profiles"
        ],
        "description": "Deletes a Profile and its associated data",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v1/remote/akoya/connections": {
      "get": {
        "summary": "List all Connections with Akoya Data",
        "description": "Returns a paginated list of Connections with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "connectionId": "conn_12wlV5QoDKCiU1vWX5fqL7",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteConnections"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/connections/{connectionId}": {
      "parameters": [
        {
          "name": "connectionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Connection.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Connection ID",
            "example": "conn_14TJiFDKRJlPiBHuukUIlXZ"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Akoya Connection Data",
        "description": "Retrieve Akoya Data by Connection ID",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "connectionId": "conn_12wlV5QoDKCiU1vWX5fqL7",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/token": {
                        "id": "mikomo>CgltaWtvbW9fMTQSBm1pa29tbw",
                        "body": {
                          "aud": [
                            "7fe3efed-3de2-46e9-876a-98ce862d1ff9"
                          ],
                          "exp": 1710946240,
                          "iat": 1710859840,
                          "iss": "https://sandbox-sts.ddp.akoya.com",
                          "jti": "aef0f7a9-ae0a-436a-8532-8ee6699daa33",
                          "rat": 1710859793,
                          "sid": "dde00f89-37e3-469a-b712-66e9d5682524",
                          "sub": "CgltaWtvbW9fMTQSBm1pa29tbw",
                          "name": "mikomo_14",
                          "atHash": "6HjbSSkHMIRC5p6guYv-Xg",
                          "accounts": [
                            "e0f0d28a24c248dcbaad05d78fbabb9e",
                            "f9cd9a90a0504d8fbf2995eb980c25fb"
                          ],
                          "products": [
                            "account_info",
                            "balances",
                            "customers",
                            "investments",
                            "payments",
                            "statements",
                            "transactions"
                          ],
                          "authTime": 1710859834,
                          "connectorId": "mikomo",
                          "recipientId": "quiltt"
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaConnection"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/accounts": {
      "get": {
        "summary": "List all Accounts with Akoya Data",
        "description": "Returns a paginated list of Accounts with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "accountId": "acct_12wlV5ctvqmh1l5d0xSkYw",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteAccounts"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/accounts/{accountId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Account.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Account ID",
            "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Account data",
        "description": "Retrieve Akoya Data by Account ID.",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "accountId": "acct_12wlV5ctvqmh1l5d0xSkYw",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/accounts-info/v2/{provider_id}": {
                        "id": "e0f0d28a24c248dcbaad05d78fbabb9e",
                        "body": {
                          "depositAccount": {
                            "status": "OPEN",
                            "currency": {
                              "currencyCode": "USD"
                            },
                            "accountId": "e0f0d28a24c248dcbaad05d78fbabb9e",
                            "accountType": "CHECKING",
                            "description": "REGULAR CHECKING",
                            "productName": "REGULAR CHECKING",
                            "accountNumberDisplay": "***2771"
                          }
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaAccount"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/transactions": {
      "get": {
        "summary": "List all Transactions with Akoya Data",
        "description": "Returns a paginated list of Transactions with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "transactionId": "txn_12wlV5nu0E3m6D0yj9elBi",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteTransactions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/transactions/{transactionId}": {
      "parameters": [
        {
          "name": "transactionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Transaction.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Transaction ID",
            "example": "txn_11VgTOO9DR1vbAZxb6zBLdb"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Transaction Data",
        "description": "Retrieve Akoya Data by Transaction ID",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "transactionId": "txn_12wlV5nu0E3m6D0yj9elBi",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/transactions/v2/{provider_id}/{account_id}": {
                        "id": "cf5cf2002c6d7664a510569d35d19794",
                        "body": {
                          "depositTransaction": {
                            "amount": 10.99,
                            "status": "POSTED",
                            "accountId": "e8dcbaa0f05d780d28a24c24dfbabb9e",
                            "description": "VISA DDA PUR AP 469216     GOOGLE  YOUTUBE MUSIC       G CO HELPPAY  * CA ",
                            "debitCreditMemo": "DEBIT",
                            "postedTimestamp": "2023-11-06T00:00:00Z",
                            "transactionType": "DEBIT",
                            "transactionTimestamp": "2023-11-06T00:00:00Z"
                          }
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/holdings": {
      "get": {
        "summary": "List all Holdings with Akoya Data",
        "description": "Returns a paginated list of Holdings with Akoya Data",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "holdingId": "hld_12wlV5yiTRAbHYT7elGIej",
                    "profileId": "p_12srEQlGK2nFitCKw0kIJu"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteHoldings"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/akoya/holdings/{holdingId}": {
      "parameters": [
        {
          "name": "holdingId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Holding.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Holding ID",
            "example": "hld_12Hz9Dz7vEvM9AuljYvhmPc"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Holding Data",
        "description": "Retrieve Akoya Data by Holding ID",
        "tags": [
          "Akoya"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "holdingId": "hld_12wlV5yiTRAbHYT7elGIej",
                  "profileId": "p_12srEQlGK2nFitCKw0kIJu",
                  "type": "AKOYA",
                  "documents": {
                    "products.ddp.akoya.com": {
                      "/accounts/v2/{provider_id}?accountIds={account_id}": {
                        "id": "33fd7721616c67159249e8686e1ecf91",
                        "body": {
                          "units": 396449,
                          "symbol": "IBM",
                          "securityId": "459200101",
                          "averageCost": false,
                          "cashAccount": false,
                          "marketValue": 54587062.81,
                          "positionType": "LONG",
                          "securityIdType": "CUSIP"
                        },
                        "timestamp": "2024-06-20T18:29:12Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteAkoyaHolding"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/enrichment/sync": {
      "post": {
        "summary": "Synchronously Enrich Transactions",
        "tags": [
          "Enrichment"
        ],
        "description": "This endpoint is used to perform on-demand enrichment of transactions from one of Quiltt's enrichment providers.\n\nNote that transactions from connected accounts are enriched automatically, with Enrichment responses made\navailable via Transaction [Remote Data](https://quiltt.dev/api/remote-data).\n\nIf your Transaction data provider is not supported, use the `GENERIC` provider and format\nyour payload to Quiltt's schema.\n",
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful request",
            "content": {
              "application/json": {
                "example": {
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "type": "ENRICHMENT",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/cleanup": {
                        "body": {
                          "enrichedTransactions": [
                            {
                              "type": "DEPOSITS_CREDITS",
                              "subType": "CREDIT",
                              "container": "bank",
                              "highLevelCategoryId": 10000015,
                              "categoryId": 28,
                              "isPhysical": false,
                              "merchantType": "OTHERS",
                              "simpleDescription": "EXT-XFER Sq. Nbr.: XX3456",
                              "detailCategoryId": 1170,
                              "category": "Transfers",
                              "amountnum": 1975,
                              "originalDescription": "EXT-XFER Sq. Nbr.: 123456",
                              "accountid": "p_12wKKn68cfbRE8EQYDzryn:CHECKING",
                              "date": "2017-11-27T00:00:00.000Z",
                              "receiptDate": "2024-11-19T13:10:46.993Z",
                              "transactionid": "ttx_113333abcd",
                              "uid": "p_12wKKn68cfbRE8EQYDzryn",
                              "clientId": "4UjJ3b5Hak2q5b65avLSAu3nhkVGmtC1",
                              "requestId": "2d5390c6-1958-492d-b5ed-449c4fe5aa9a",
                              "settlement": "credit",
                              "guid": "9945af75-a94e-4f2f-ac33-6e74cc5b8715",
                              "merchantLogoURL": "https://links.fingoal.com/Transfers",
                              "transactionTags": [],
                              "amount": 1975
                            }
                          ],
                          "failedTransactions": []
                        },
                        "timestamp": "2024-04-23T15:34:20Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteEnrichment"
                }
              }
            }
          },
          "202": {
            "description": "Request was valid but should be retried",
            "content": {
              "application/json": {
                "example": {
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "type": "ENRICHMENT",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/cleanup": {
                        "requestId": "9341760b-8364-48b6-a9f2-085a5a15bb36"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteEnrichment"
                }
              }
            }
          },
          "400": {
            "description": "Provider is not supported",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Request",
                  "instruction": "Provider unknown is not supported at this time"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          },
          "422": {
            "description": "There was an issue with the request params",
            "content": {
              "application/json": {
                "example": {
                  "payload": [
                    "`payload` is not a supported attribute or is supplying an invalid data type"
                  ]
                },
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrors"
                }
              }
            }
          },
          "502": {
            "description": "There is an upstream error with the provider",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bad Gateway",
                  "instruction": "Upstream provider is experiencing an issue. Please try again later.",
                  "errorId": "484f86ab-b345-4a90-ba7e-265e4ea7a2e0"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoteEnrichmentRequest"
              },
              "examples": {
                "0": {
                  "summary": "Enrich Treasury Prime Transactions",
                  "value": {
                    "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                    "accountType": "CHECKING",
                    "provider": "TREASURY_PRIME",
                    "payload": {
                      "data": [
                        {
                          "ach_id": "ach_1234567",
                          "amount": "1975.00",
                          "balance": "256147.27",
                          "billpay_payment_id": null,
                          "book_id": null,
                          "card_id": null,
                          "category": null,
                          "check_id": null,
                          "check_number": null,
                          "date": "2017-11-27",
                          "desc": "EXT-XFER Sq. Nbr.: 123456",
                          "extended_timestamp": "2017-11-27T01:02:03Z",
                          "extended_timestamp_precise": "2017-11-27T01:02:03.300Z",
                          "fingerprint": "2k7vxetham4i1v3ceb5vs6",
                          "id": "ttx_113333abcd",
                          "incoming_ach_id": null,
                          "incoming_wire": null,
                          "incoming_wire_id": null,
                          "issued_check_id": null,
                          "network_transfer_id": null,
                          "related_transfer_ids": [],
                          "summary": "ACME CORP VENDOR PMT",
                          "trace_id": null,
                          "type": "deposit",
                          "type_source": null,
                          "userdata": null,
                          "wire": null,
                          "wire_id": null
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/profiles": {
      "get": {
        "summary": "List all Profiles with Fingoal Data",
        "description": "Returns a paginated list of Profiles that have Fingoal Data",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                    "uuid": "018ef74e-5aa1-7684-86ca-d2c0a4447bb5"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteProfiles"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/profiles/{profileId}": {
      "parameters": [
        {
          "name": "profileId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Profile.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Profile ID",
            "example": "p_1hyoxpVVFib1HngGwKAzIr"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Profile Data",
        "description": "Retrieve Fingoal Data by Profile ID",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "uuid": "018ef74e-5aa1-7684-86ca-d2c0a4447bb5",
                  "type": "FINGOAL",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/users/{user_id}": {
                        "id": "p_13hoVGhoFdnJNoVUSDkcV4L",
                        "body": {
                          "id": "82840",
                          "uid": "p_13hoVGhoFdnJNoVUSDkcV4L",
                          "tags": [
                            "Eats Out Regularly"
                          ],
                          "clientId": "<FINGOAL_CLIENT_ID>",
                          "uniqueId": "4UjJ2q5b65avLSAu3nhkVG3b5HakmtC1p_13hoVGhoFdnJNoVUSDkcV4L",
                          "subtenantId": null,
                          "lifetimeSavings": null,
                          "registrationDate": null,
                          "totaltransactions": 6,
                          "transactionsSinceLastUpdate": 6
                        },
                        "timestamp": "2024-06-20T18:27:49Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteFingoalProfile"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/transactions": {
      "get": {
        "summary": "List all Transactions with Fingoal Data",
        "description": "Returns a paginated list of Transactions that have Fingoal Data",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "transactionId": "txn_12wKKn7HytyW8ybdF31NGo",
                    "profileId": "p_12wKKn68cfbRE8EQYDzryn"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteTransactions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/fingoal/transactions/{transactionId}": {
      "parameters": [
        {
          "name": "transactionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Transaction.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Transaction ID",
            "example": "txn_11VgTOO9DR1vbAZxb6zBLdb"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Transaction Data",
        "description": "Retrieve Fingoal Data by Transaction ID",
        "tags": [
          "Fingoal"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "transactionId": "txn_12wKKn7HytyW8ybdF31NGo",
                  "profileId": "p_12wKKn68cfbRE8EQYDzryn",
                  "type": "FINGOAL",
                  "documents": {
                    "findmoney.fingoal.com": {
                      "/v3/cleanup": {
                        "id": "ef86b762-235c-4884-92ef-aafac27a71be",
                        "body": {
                          "uid": "p_12vLvCczIXHhaKeR8mIAJm",
                          "date": "2019-08-24T00:00:00.000Z",
                          "guid": "ef86b762-235c-4884-92ef-aafac27a71be",
                          "type": "PAYMENT",
                          "amount": 60.5,
                          "category": "Travel",
                          "subType": "PAYMENT",
                          "accountid": "p_12vLvCczIXHhaKeR8mIAJm:CHECKING",
                          "amountnum": 60.5,
                          "clientId": "<FINGOAL_CLIENT_ID>",
                          "container": "bank",
                          "requestId": "e8e65df4-f4ea-40e5-b8b4-8e9183e9f451",
                          "settlement": "debit",
                          "categoryId": 23,
                          "isPhysical": false,
                          "receiptDate": "2024-09-17T16:52:13.633Z",
                          "merchantName": "Lyft",
                          "merchantType": "OTHERS",
                          "transactionid": "txn_12toleZ6UJAWjhpkmWbs6d",
                          "categoryLabel": [
                            "Transportation",
                            "Taxi and Car Services"
                          ],
                          "merchantCountry": "US",
                          "transactionTags": [
                            "Lyft Ride",
                            "Rideshare"
                          ],
                          "merchantLogoUrl": "https://links.fingoal.com/YM3sD6",
                          "detailCategoryId": 1682,
                          "simpleDescription": "Lyft",
                          "sourceMerchantId": "-M-lyft-CY-us",
                          "originalDescription": "Lyft",
                          "highLevelCategoryId": 10000011
                        },
                        "timestamp": "2024-06-20T18:27:49Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteFingoalTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/mx/connections": {
      "get": {
        "summary": "List all Connections with MX Data",
        "description": "Returns a paginated list of Connections with MX Data",
        "tags": [
          "MX"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "connectionId": "conn_12wKKJp0NNUezm6X54Iz4T",
                    "profileId": "p_12wKKKS3OAOaYLIJsyMPVk"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteConnections"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/mx/connections/{connectionId}": {
      "parameters": [
        {
          "name": "connectionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Connection.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Connection ID",
            "example": "conn_14TJiFDKRJlPiBHuukUIlXZ"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve MX Connection Data",
        "description": "Retrieve MX Data by Connection ID",
        "tags": [
          "MX"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "connectionId": "conn_12wKKJp0NNUezm6X54Iz4T",
                  "profileId": "p_12wKKKS3OAOaYLIJsyMPVk",
                  "type": "MX",
                  "documents": {
                    "api.mx.com": {
                      "/users/{user_guid}/members/{member_guid}": {
                        "id": "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b",
                        "body": {
                          "id": "unique_id",
                          "guid": "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b",
                          "name": "Chase Bank",
                          "userId": "user123",
                          "isOAuth": false,
                          "metadata": "\\\"credentials_last_refreshed_at\\\": \\\"2015-10-15\\\"",
                          "userGuid": "USR-fa7537f3-48aa-a683-a02a-b18940482f54",
                          "aggregatedAt": "2016-10-13T18:07:57.000Z",
                          "institutionCode": "chase",
                          "oauthWindowUri": "https://mxbank.mx.com/oauth/authorize?client_id=b8OikQ4Ep3NuSUrQ13DdvFuwpNx-qqoAsJDVAQCyLkQ&redirect_uri=https%3A%2F%2Fint-app.moneydesktop.com%2Foauth%2Fredirect_from&response_type=code&scope=openid&state=d745bd4ee6f0f9c184757f574bcc2df2",
                          "connectionStatus": "CONNECTED",
                          "isManagedByUser": false,
                          "isBeingAggregated": false,
                          "successfullyAggregatedAt": "2016-10-13T17:57:38.000Z",
                          "backgroundAggregationIsDisabled": false
                        },
                        "timestamp": "2024-06-20T18:27:46Z"
                      },
                      "/users/{user_guid}/members/{member_guid}/account_owners": {
                        "id": "0d4d37b0531f74a8978fc9f52f386e31",
                        "body": [
                          {
                            "city": "Middlesex",
                            "guid": "ACO-63dc7714-6fc0-4aa2-a069-c06cdccd1af9",
                            "email": "donnie@darko.co",
                            "phone": "555-555-5555",
                            "state": "VA",
                            "address": "123 This Way",
                            "country": "US",
                            "lastName": "Darko",
                            "userGuid": "USR-fa7537f3-48aa-a683-a02a-b18940482f54",
                            "firstName": "Donnie",
                            "ownerName": "Donnie Darko",
                            "memberGuid": "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b",
                            "postalCode": "00000-0000",
                            "accountGuid": "ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1"
                          }
                        ],
                        "timestamp": "2024-06-20T18:27:46Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteMXConnection"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/mx/accounts": {
      "get": {
        "summary": "List all Accounts with MX Data",
        "description": "Returns a paginated list of Accounts with MX Data",
        "tags": [
          "MX"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "accountId": "acct_12wKKK1qaZ5EGONxkmd7CT",
                    "profileId": "p_12wKKKS3OAOaYLIJsyMPVk"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteAccounts"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/mx/accounts/{accountId}": {
      "parameters": [
        {
          "name": "accountId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Account.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Account ID",
            "example": "acct_12Hz9Dz7vEAuljYvhmPcvM9"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Account Data",
        "description": "Retrieve MX Data by Account ID",
        "tags": [
          "MX"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "accountId": "acct_12wKKK1qaZ5EGONxkmd7CT",
                  "profileId": "p_12wKKKS3OAOaYLIJsyMPVk",
                  "type": "MX",
                  "documents": {
                    "api.mx.com": {
                      "/users/{user_guid}/accounts": {
                        "id": "ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1",
                        "body": {
                          "id": "1040434698",
                          "apr": 1,
                          "apy": 1,
                          "guid": "ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1",
                          "name": "Test account 2",
                          "type": "SAVINGS",
                          "balance": 10000,
                          "subtype": "NONE",
                          "userId": "user123",
                          "metadata": "some metadata",
                          "nickname": "My Checking",
                          "isClosed": false,
                          "isHidden": false,
                          "isManual": false,
                          "memberId": "member123",
                          "userGuid": "USR-fa7537f3-48aa-a683-a02a-b18940482f54",
                          "createdAt": "2023-07-25T17:14:46Z",
                          "maturesOn": "2015-10-13T17:57:37.000Z",
                          "startedOn": "2015-10-13T17:57:37.000Z",
                          "updatedAt": "2016-10-13T18:08:00.000Z",
                          "importedAt": "2015-10-13T17:57:37.000Z",
                          "loanAmount": 1000,
                          "memberGuid": "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b",
                          "cashBalance": 1000,
                          "creditLimit": 100,
                          "insuredName": "Tommy Shelby",
                          "lastPayment": 100,
                          "currencyCode": "USD",
                          "deathBenefit": 1000,
                          "interestRate": 1,
                          "propertyType": "VEHICLE",
                          "accountNumber": "5366",
                          "holdingsValue": 1000,
                          "marginBalance": 1000,
                          "payOutAmount": 10,
                          "paymentDueAt": "2015-10-13T17:57:37.000Z",
                          "payoffBalance": 10,
                          "premiumAmount": 1,
                          "routingNumber": "68899990000000",
                          "lastPaymentAt": "2023-07-25T17:14:46Z",
                          "minimumBalance": 100,
                          "minimumPayment": 10,
                          "annuityProvider": "Metlife",
                          "availableCredit": 1000,
                          "institutionCode": "3af3685e-05d9-7060-359f-008d0755e993",
                          "originalBalance": 10,
                          "todayUglAmount": 1000.5,
                          "accountOwnership": "INDIVIDUAL",
                          "annuityTermYear": 2048,
                          "availableBalance": 1000,
                          "dayPaymentIsDue": 20,
                          "totalAccountValue": 1,
                          "cashSurrenderValue": 1000,
                          "todayUglPercentage": 6.9,
                          "annuityPolicyToDate": "2016-10-13T17:57:37.000Z",
                          "memberIsManagedByUser": false
                        },
                        "timestamp": "2024-06-20T18:27:46Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteMXAccount"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/mx/transactions": {
      "get": {
        "summary": "List all Transactions with MX Data",
        "description": "Returns a paginated list of Transactions with MX Data",
        "tags": [
          "MX"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
            "description": "Number of items per page"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "current-page": {
                "schema": {
                  "type": "integer"
                },
                "description": "Current page number"
              },
              "page-items": {
                "schema": {
                  "type": "integer"
                },
                "description": "Number of items per page"
              },
              "total-count": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of items"
              },
              "total-pages": {
                "schema": {
                  "type": "integer"
                },
                "description": "Total number of pages"
              }
            },
            "content": {
              "application/json": {
                "example": [
                  {
                    "transactionId": "txn_12wKKKDZt7qD57licvBXSv",
                    "profileId": "p_12wKKKS3OAOaYLIJsyMPVk"
                  }
                ],
                "schema": {
                  "$ref": "#/components/schemas/RemoteTransactions"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/mx/transactions/{transactionId}": {
      "parameters": [
        {
          "name": "transactionId",
          "in": "path",
          "schema": {
            "type": "string",
            "description": "The ID of the Transaction.",
            "format": "global_id-v1",
            "readOnly": true,
            "title": "Transaction ID",
            "example": "txn_11VgTOO9DR1vbAZxb6zBLdb"
          },
          "required": true
        }
      ],
      "get": {
        "summary": "Retrieve Transaction Data",
        "description": "Retrieve MX Data by Transaction ID",
        "tags": [
          "MX"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "transactionId": "txn_12wKKKDZt7qD57licvBXSv",
                  "profileId": "p_12wKKKS3OAOaYLIJsyMPVk",
                  "type": "MX",
                  "documents": {
                    "api.mx.com": {
                      "/transactions/enhance": {
                        "id": "ID-123",
                        "body": {
                          "id": "ID-123",
                          "memo": "Additional-information*on_transaction",
                          "type": "DEBIT",
                          "amount": 21.33,
                          "isFee": false,
                          "category": "Rental Car & Taxi",
                          "isIncome": false,
                          "isExpense": false,
                          "description": "Uber",
                          "isBillPay": false,
                          "describedBy": 6,
                          "categoryGuid": "CAT-9588eaad-90a4-bb5c-66c8-1812503d0db8",
                          "merchantGuid": "MCH-14f25b63-ef47-a38e-b2b6-d02b280b6e4e",
                          "categorizedBy": 13,
                          "isSubscription": false,
                          "isInternational": false,
                          "isOverdraftFee": false,
                          "isDirectDeposit": false,
                          "isPayrollAdvance": false,
                          "originalDescription": "ubr* pending.uber.com",
                          "merchantCategoryCode": 4121,
                          "merchantLocationGuid": "MCL-00024e59-18b5-4d79-b879-2a7896726fea",
                          "extendedTransactionType": "partner_transaction_type"
                        },
                        "timestamp": "2024-06-20T18:27:46Z"
                      },
                      "/users/{user_guid}/transactions": {
                        "id": "TRN-265abee9-889b-af6a-c69b-25157db2bdd9",
                        "body": {
                          "id": "transaction-265abee9-889b-af6a-c69b-25157db2bdd9",
                          "date": "2013-09-23T00:00:00.000Z",
                          "guid": "TRN-265abee9-889b-af6a-c69b-25157db2bdd9",
                          "memo": "This is a memo",
                          "type": "DEBIT",
                          "amount": 61.11,
                          "isFee": false,
                          "status": "POSTED",
                          "userId": "user123",
                          "category": "Groceries",
                          "latitude": -43.2075,
                          "metadata": "some metadata",
                          "isIncome": false,
                          "longitude": 139.691706,
                          "postedAt": "2016-10-07T06:00:00.000Z",
                          "userGuid": "USR-fa7537f3-48aa-a683-a02a-b18940482f54",
                          "accountId": "account123",
                          "createdAt": "2016-10-06T09:43:42.000Z",
                          "isExpense": true,
                          "updatedAt": "2016-10-07T05:49:12.000Z",
                          "description": "Whole foods",
                          "isBillPay": false,
                          "memberGuid": "MBR-7c6f361b-e582-15b6-60c0-358f12466b4b",
                          "accountGuid": "ACT-06d7f44b-caae-0f6e-1384-01f52e75dcb1",
                          "isRecurring": false,
                          "categoryGuid": "CAT-9588eaad-90a4-bb5c-66c8-1812503d0db8",
                          "currencyCode": "USD",
                          "merchantGuid": "MCH-7ed79542-884d-2b1b-dd74-501c5cc9d25b",
                          "transactedAt": "2016-10-06T13:00:00.000Z",
                          "localizedMemo": "This is a localized_memo",
                          "isSubscription": false,
                          "isInternational": false,
                          "isOverdraftFee": false,
                          "isDirectDeposit": false,
                          "isPayrollAdvance": false,
                          "topLevelCategory": "Food & Dining",
                          "checkNumberString": "6812",
                          "originalDescription": "WHOLEFDS TSQ 102",
                          "localizedDescription": "This is a localized_description",
                          "merchantCategoryCode": 5411,
                          "merchantLocationGuid": "MCL-00024e59-18b5-4d79-b879-2a7896726fea",
                          "extendedTransactionType": "partner_transaction_type",
                          "memberIsManagedByUser": false
                        },
                        "timestamp": "2024-06-20T18:27:46Z"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/RemoteMXTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "example": {
                  "message": "Not Found",
                  "instruction": "Does the URL contain a valid ID?"
                },
                "schema": {
                  "$ref": "#/components/schemas/RestError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/remote/ntropy/transactions": {
      "get": {
        "summary": "List all Transactions with Ntropy Data",
        "description": "Returns a paginated list of Transactions that have Ntropy Data",
        "tags": [
          "Ntropy"
        ],
        "security": [
          {
            "APISecretBearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page to retrieve"
          },
          {
            "in": "query",
            "name": "items",
            "schema": {
              "type": "integer",
              "default": 25
            },
[...]
